doctype html
html
  head
    link(rel='stylesheet' href='http://bootswatch.com/yeti/bootstrap.min.css' )
body
  #hello.container
    h1 Live starts here!
    p Hello world!

  #app-name.container
    h1 This is the
    p= appName + '.'

  #weather-data.container
    p There will be weather data.

  include ./include