doctype html
html
  head
    link(rel='stylesheet' href='http://bootswatch.com/yeti/bootstrap.min.css' )
body
  #hello.container
    h1 Live starts here!
    p Hello world!

  block appInfo

  block weatherData